/* Default styles for mobile and tablet view */
* {
  font-family: Consolas, monospace;
}


.container {
  text-align: center;
}

.main-heading {
  margin-bottom: 20px;
}

.sections-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
}

.box {
  background-color: #696969;
  padding: -5px;
  margin: 5px;
  border: 1px solid #ddd;
  /*border-radius: 10px;*/
  width: calc(33.33% - 20px);
}

/*.box h2 {
  margin-top: 0;
  float: right;
}

.box p {
  margin-bottom: 20px;
}*/

/*.box h2 {
  margin-top: 0;
  float: right;
  margin-bottom: 20px;
}*/

.box h2 {
  /*margin-top: 0;*/
  margin-top: -1px;
  float: right;
  margin-right: 0px;
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid #ccc;
  /*background-color: green;*/
}

.box p {
  margin-top: 40px;
  margin-bottom: 30px; /* Increased margin after <p> */
  /*background-color: orange;*/
  padding: 20px;
  /*background-clip: content-box; */
}

.section-1-title {
  background-color: #f7f7f7;
}

.section-2-title {
  background-color: #cff7f7;
}

.section-3-title {
  background-color: #f7cff7;
}

/* Desktop view (992px - 1199px) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

/* Large desktop view (1200px and above) */
@media only screen and (min-width: 1200px) {
  .sections-container {
    flex-wrap: nowrap;
  }
  .box {
    width: calc(25% - 20px);
  }
}

/* Tablet view (768px - 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sections-container {
    display: flex;
    flex-wrap: wrap;
  }
  .box:nth-child(1), .box:nth-child(2) {
    width: calc(50% - 20px);
  }
  .box:nth-child(3) {
    flex-basis: 100%;
    width: auto;
  }
}

/* Mobile view (767px and below) */
@media only screen and (max-width: 767px) {
  .sections-container {
    display: flex;
    flex-direction: column;
  }
  .box {
    width: 100%;
/*    flex: 1;*/
  }
}
